<h1 class='text-center'>Rock-Paper-Scissors Game</h1>

<p id='description'>
  Rock, paper, scissors (also known as Rochambeau, Roshambo, or Janken)
  is a fun and easy hand game that anyone can learn and enjoy.
  It’s a great way to make minor decisions when you and a friend
  can’t agree on something, or even just an entertaining way to pass the time.
  The neat thing about the game is that almost anybody can pick the rules up
  in a matter of seconds.
  <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">WIKI</a>
  <br>
  Each hand shape (Rock, Paper, Scissors) has specific strengths:

<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors cuts Paper</li>
  <li>Paper covers Rock</li>
  <li>Extra rule: Hammer can defeat Scissors and Paper but loses to Rock</li>
</ul>
</p>

<br />
